/* Общие стили */
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --alt-color: #aaa;
    --divider-color: #000;
    --border-radius: 10px;
    --border-radius-big: 20px;
    --horizontal-padding: 20px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-big);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

form {
    padding: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: medium;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 16px;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid var(--divider-color);
    padding: 10px;
    text-align: left;
}

table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    transition-duration: 0.4s;
    flex-grow: 1;
    margin: 5px;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.toggle-container {
    display: flex;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.toggle {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1;
    color: var(--primary-color);
}

.toggle:first-child {
    border-right: none;
}

.toggle:last-child {
    border-left: none;
}

.toggle:hover {
    background-color: var(--alt-color);
    color: var(--primary-color);
}

.toggle.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Адаптивные стили */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="number"],
    select {
        font-size: 16px;
    }

    .calculator-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .calculator-buttons button {
        margin: 5px;
        flex-grow: 1;
    }
}
